.App {
  width: 100%;
  height: 100vh;
}
main {
  position: relative;
}
.upper {
  width: 100%;
  height: 30rem;
  background-image: url(./images/bg-desktop-dark.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 1s ease;
}

.body {
  width: 100%;
  height: 100vh;
  background-color: var(--very-dark-blue);
  display: flex;
  justify-content: center;
  transition: background-color 1s ease;
}

.main__container {
  width: 53rem;
  height: 30rem;
  position: absolute;
  top: 5%;
  /* background-color: red; */
  transition: background-color 1s ease;
}

.header__container {
  display: flex;
  align-items: center;
  margin-bottom: 4.8rem;
  color: white;
}

.header__container h1 {
  margin-right: auto;
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: 7px;
}

.header__container img {
  width: 2.4rem;
  height: 2.4rem;
}

.item__wrapper {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
  margin-bottom: 2.4rem;
  border-radius: 4px;
  background-color: var(--very-dark-unsaturated-blue);
  transition: background-color 1s ease;
}

.check__complete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--very-dark-grayish-blue);
  border-radius: 50%;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.check__complete img {
  width: 1rem;
  height: 1rem;
}

.complete.check__complete img {
  display: none;
}
.complete.check__complete {
  background: none;
}

.check__complete:hover {
  border: double 1px transparent;
  background-image: linear-gradient(
      var(--very-dark-unsaturated-blue),
      var(--very-dark-unsaturated-blue)
    ),
    linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 100%;
  outline: none;
}

.items__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 15%;
  border-radius: 4px;
  background-color: var(--very-dark-unsaturated-blue);
  transition: background-color 1s ease;
}

input {
  width: 100%;
  height: 4.5rem;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  outline: none;
  border: none;
  color: var(--light-grayish-blue);
  background-color: inherit;
}

input::placeholder {
  font-size: 1.6rem;
}

.list__container {
  min-height: 450px;
  background-color: inherit;
  box-shadow: 0px 10px 37px -9px rgba(0,0,0,0.75);
  overflow-x: hidden;
  overflow-y: visible;
  border-radius: 4px 4px 0 0;
}

.item {
  font-size: 1.4rem;
  color: var(--light-grayish-blue);
  margin-right: auto;
}

.items {
  border-bottom: 1px solid var(--very-dark-grayish-blue);
  animation: enter 1s forwards;
  opacity: 0;
}

@keyframes enter {
  from {
    opacity: 1;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

.items .item__wrapper {
  margin-bottom: 0;
}

.item__wrapper .cross {
  visibility: hidden;
}

.item__wrapper:hover .cross {
  visibility: visible;
}

.bottom__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-inline: 2.4rem;
  font-size: 1.2rem;
  background-color: inherit;
  color: var(--very-dark-grayish-blue);
  box-shadow: 0px 13px 54px -19px rgba(0,0,0,0.59);
  border-radius: 0 0 4px 4px;
}

.bottom__wrapper div {
  cursor: pointer;
}

.active {
  color: var(--bright-blue);
}

.nav ul {
  display: flex;
  gap: 1.2rem;
}
.nav ul li {
  transition: color 0.2s ease-in;
}

.nav ul li:hover {
  color: var(--light-grayish-blue-hover);
}

.clear {
  transition: color 0.2s ease-in;
}

.clear:hover {
  color: var(--light-grayish-blue-hover);
}

.item__wrapper.bottom__nav {
  visibility: hidden;
}

@media (max-width: 575px) {
  .main__container {
    max-width: 45rem;
  }
}

@media (max-width: 425px) {
  .main__container {
    max-width: 35rem;
  }

  .list__container {
    min-height: 35rem;
  }

  .bottom__nav .nav {
    display: block;
  }

  .nav {
    display: none;
  }

  .item__wrapper.bottom__nav {
    height: 70%;
    visibility: visible;
    margin-top: 2.4rem;
    margin-bottom: 0;
    justify-content: center;
    box-shadow: 0px 13px 54px -19px rgb(0 0 0 / 59%);
    
  }
}

@media (max-width: 320px) {
  .main__container {
    max-width: 30rem;
  }

  .list__container {
    min-height: 30rem;
  }

}
